MYSQL_ROOT_PASSWORD=change-me-root
MYSQL_BOOK_USER=books_app
MYSQL_BOOK_PASSWORD=change-me-books
MYSQL_BOOK_TEST_USER=books_test
MYSQL_BOOK_TEST_PASSWORD=change-me-books-test
MYSQL_AUDIT_USER=audit_app
MYSQL_AUDIT_PASSWORD=change-me-audit
MYSQL_AUDIT_TEST_USER=audit_test
MYSQL_AUDIT_TEST_PASSWORD=change-me-audit-test
SUPERADMIN_EMAIL=
SUPERADMIN_PASSWORD=
